doctype html
html
  head
                title=title
                meta(charset='utf-8')
                meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
                meta(name='description' content='')
                meta(name='author' content='')
                title Grayscale - Start Bootstrap Theme
                link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
                // Font Awesome icons (free version)
                script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
                // Google fonts
                link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
                link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
                // Core theme CSS (includes Bootstrap)
                link(href='/stylesheets/styles.css' rel='stylesheet')
                link(href='/stylesheets/style.css' rel='stylesheet')
                link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')

                script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')

                
  body
    block content
